<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new task</title>
</head>
<body>
<h1>Создание новой задачи</h1>
<form id="create_task" method="post" action="/create_task">
    <input type="text" name="task_name" placeholder="Имя процесса" value="Unnamed task">
    <input type="text" name="task_duration" placeholder="Длительность в секундах" value="10">
    <button type="submit">Отправить</button>
</form>
{% if error %}
    <h2>Ошибка - {{error}}</h2>
{% endif %}
</body>
</html>